body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #8bc34a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
#imagenMostrada {
    width: 250px;
    height: auto;
}


section:nth-child(1) {
    background-color: #4caf50; 
}


section:nth-child(2) {
    background-color: #8bc34a; 
}

section {
    color: #333; 
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

button,
select {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.results {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 650px) {
    section {
        margin: 10px;
        padding: 15px;
    }

    button,
    select {
        max-width: none;
    }

    .results {
        padding: 15px;
    }
}
