body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}



section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

button, select {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.results {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#tablaResultado img {
    max-width: 30px; /* Establece el ancho máximo para las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente proporcionalmente al ancho */
    margin-right: 5px; /* Añade un margen derecho para separar las imágenes */
}

@media screen and (max-width: 650px) {
    section {
        margin: 10px;
        padding: 15px;
    }

    button, select {
        max-width: none; /* Elimina el ancho máximo en pantallas más pequeñas */
    }

    .results {
        padding: 15px;
    }
}